<h1>Apply to join Happy as an artist</h1>
<p>
Please send us some tracks to our Soundcloud Dropbox here: <br/>
<a href="http://www.soundcloud.com/dropbox/soundcloud">Soundcloud.com/thisishappy</a>
</p>