
<header>
    <%= image_tag("happy_music_logo.png", :alt => "Happy Music Logo", :class => "round") %>
    <nav class="intranav round">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Artists", artists_path %></li>
        <li><%= link_to "Apply", apply_path %></li>
      </ul>
    </nav>
  </header>
  