
<header>
  <%= image_tag("happy_music_logo.png", :alt => "Happy Music Logo", :class => "round") %>
    <nav class="intranav round">
      <ul>
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Artists", '#' %></li>
        <li><%= link_to "Apply", '#' %></li>
      </ul>
    </nav>
  </header>
  